[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
molecule = "*"
docker-py = "*"
ansible = "*"

[dev-packages]

[requires]
python_version = "2.7"

[scripts]
test ="molecule test "
test_debug ="molecule --debug test"
# to fix - start playbook from specfic task by exporting env var for task
# test_start_at ="molecule converge -- --start-at-task='${task}'"