- name: "1.5.1 | Ensure core dumps are restricted"
  sysctl:
      name: fs.suid_dumpable
      value: 0
      state: present
      reload: yes
      sysctl_set: yes
      ignoreerrors: yes
  tags:
      - id_1.5.1

- name: "1.6.2.1 | Ensure AppArmor is not disabled in bootloader configuration"
  lineinfile:
      dest: /etc/default/grub
      regexp: "^GRUB_CMDLINE_LINUX="
      line: 'GRUB_CMDLINE_LINUX=apparmor="1 security=apparmor"'
      state: present
  when: ubu16gsa_config_apparmor == true
  tags:
    - id_1.6.2.1

- name: "1.6.2.2 |  Ensure all AppArmor Profiles are enforcing"
  shell: for profile in /etc/apparmor.d/*; do aa-enforce $profile; done
  register: aaenforce_rc
  failed_when: aaenforce_rc.rc == 1
  changed_when: False
  when: ubu16gsa_config_apparmor == true
  tags:
    - id_1.6.2.2

- name: "1.6.3 | Ensure SELinux or AppArmor are installed"
  apt:
      name: apparmor
      state: present
  when: ubu16gsa_config_apparmor == true
  tags:
      - id_1.6.3_apparmor

- name: "3.3.3 | Ensure IPv6 is disabled"
  lineinfile: >
      dest=/etc/default/grub
      line='GRUB_CMDLINE_LINUX="ipv6.disable=1"'
      state=present
      create=yes
  when: ubu16gsa_ipv6_disable == true
  tags:
      - id_3.3.3

- name: "SCORED | 4.1.12 | PATCH | Ensure use of privileged commands is collected"
  shell: for i in  $(df | grep '^/dev' | awk '{ print $NF }'); do find $i -xdev -type f -perm -4000 -o -type f -perm -2000 2>/dev/null; done
  register: priv_procs
  changed_when: no
  check_mode: no

  tags:
      - level2
      - auditd
      - patch
      - rule_4.1.12

- name: "4.1.3 | Ensure auditing for processes that start prior to auditd is enabled"
  lineinfile: >
      dest=/etc/default/grub
      line='GRUB_CMDLINE_LINUX="audit=1"'
      state=present
      create=yes
  notify: [ 'Update GRUB' ]
  when: ubu16gsa_auditd_config == true
  tags:
      - id_4.1.3
