version: 2
jobs:
  build:
    machine:
      image: circleci/classic:latest
    steps:
      - checkout
      - run:
          name: Host System Setup
          command: sudo service apparmor teardown
      - run:
          name: Pull Docker Image
          command: docker-compose pull ubuntu:xenial
      - run:
          name: Set up remote container
          command: |
            docker-compose up -d ubuntu16
      - run:
          name: Install Ansible in remote container
          command: |
            docker-compose exec ubuntu16 yum -y install ansible
      - run:
          name: Copy Ansible Code to Remote Container
          command: |
            docker-compose exec ubuntu16 mkdir -p /home/circleci/project && docker cp /home/circleci/project/. centos7:/home/circleci/project/ansible-os-rhel-7/
      #- run:
          #name: Install Missing Container Services
          #command: |
            #docker-compose exec centos7 yum -y install openssh-server 
            #docker-compose exec centos7 systemctl enable sshd
            #docker-compose exec centos7 systemctl start  sshd
            #docker-compose exec centos7 yum -y install cronie
            #docker-compose exec centos7 systemctl enable crond.service
            ##docker-compose exec centos7 systemctl start crond.service
      - run:
          name: Run playbook.yml in remote Docker container
          command: |
            docker-compose exec -T ubuntu16 cp -r /home/circleci/project/* /etc/ansible/roles
            docker-compose exec -T ubuntu16 ansible-playbook -vv --connection=local --inventory 127.0.0.1, /home/circleci/project/ansible-os-rhel-7/playbook.yml
      #FIXME Uncomment once tasks are all idempotent
      #- run:
       #   name: Run playbook.yml again, checking to make sure it's idempotent
        #  command: >
         #   docker-compose exec -T centos7 ansible-playbook --connection=local --inventory 127.0.0.1, /home/circleci/project/ansible-os-rhel-7/playbook.yml | grep 'changed=0.*failed=0' && (echo 'Idempotence test: pass' && exit 0) || (echo 'Idempotence test: fail' && exit 1)
