version: 2
jobs:
  build:
    machine:
      image: circleci/classic:latest
    steps:
      - checkout
      - run:
          name: Host System Setup
          command: sudo service apparmor teardown
      - run:
          name: Pull Docker Image
          command: docker-compose pull ubuntu16
      - run:
          name: Set up remote container
          command: |
            docker-compose up -d ubuntu16
      - run:
          name: Install Ansible in remote container
          command: |
            docker-compose exec ubuntu16 apt-get update -y
            docker-compose exec ubuntu16 apt-get install -y software-properties-common
            docker-compose exec ubuntu16 apt-add-repository --yes --update ppa:ansible/ansible
            docker-compose exec ubuntu16 apt-get install -y ansible
      - run:
          name: Copy Ansible Code to Remote Container
          command: |
            docker-compose exec ubuntu16 mkdir -p /home/circleci/project && docker cp /home/circleci/project/. ubuntu16:/home/circleci/project/ansible-os-ubuntu-16/
      - run:
          name: Install Missing Container Services
          command: |
            docker-compose exec ubuntu16 apt-get install -y grub-efi
            docker-compose exec ubuntu16 apt-get install -y rsyslog
            docker-compose exec ubuntu16 service rsyslog start
            docker-compose exec ubuntu16 apt-get install -y openssh-server
      - run:
          name: Run playbook.yml in remote Docker container
          command: |
            docker-compose exec -T ubuntu16 cp -r /home/circleci/project/* /etc/ansible/roles
            docker-compose exec -T ubuntu16 ansible-playbook -vv --skip-tags no_test --connection=local --inventory 127.0.0.1, /home/circleci/project/ansible-os-ubuntu-16/playbook.yml
      #FIXME Uncomment once tasks are all idempotent
      - run:
          name: Run playbook.yml again, checking to make sure it's idempotent
          command: >
            docker-compose exec -T ubuntu16 ansible-playbook --skip-tags no_test --connection=local --inventory 127.0.0.1, /home/circleci/project/ansible-os-ubuntu-16/playbook.yml | grep 'changed=0.*failed=0' && (echo 'Idempotence test: pass' && exit 0) || (echo 'Idempotence test: fail' && exit 1)
